<!-- stock-detail.component.html -->
<ion-header>
<ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref={{prevUrl}}></ion-back-button>
    </ion-buttons>
    <ion-title>Detalhe do Produto</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="editStock(stock.id)">
        <ion-icon slot="icon-only" name="create-outline" style="color: black;"></ion-icon>
      </ion-button>
    </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content>
<ion-card *ngIf="stock">
  <ion-card-header>
    <ion-card-title>{{ stock.item }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p>Material: {{ stock.material }}</p>
    <p>Stock Necessário: {{ stock.stock_necessario }}</p>
    <p>Stock Existente: {{ stock.stock_existente }}</p>
    <p>Stock a Solicitar: {{ stock.stock_solicitar }}</p>
    <p>Categoria: {{ stock.categoria_detail.nome }}</p>
    <p>US: {{ stock.us_detail.nome }}</p>
  </ion-card-content>
</ion-card>
</ion-content>