<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Gerenciamento de Estoque
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openCreateStockModal()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<app-stock-list (stockSelected)="onStockSelected($event)"></app-stock-list>
<!-- <app-stock-detail></app-stock-detail> -->
<!-- No componente pai -->
</ion-content>
